@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;7008 display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    height: 100vh;
    background:url("cake.jpg") ;
    background-position: center;
    background-size: cover;
}
header{
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    padding: 20px;
}
header .navbar{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}
.navbar .logo{
    font-size: 2.1rem;
    font-weight: 600;


}
.navbar .logo span{
    color: rosybrown;
}
.navbar .menu-links {
    display: flex;
    gap:40px;

}
.navbar a{
    color: black;
    text-decoration: none;
    transition: 0.2s;
}
.navbar a:hover{
    color: brown;
}
 
.middle-section{
    height:100vh ;
    display: flex;
    align-items: center;
    padding: 0 20px;

}
.middle-section .content{
    color: black;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.middle-section .content h1{
     font-size: 3rem;
     max-width: 600px;
}
.middle-section .content p{
    font-weight: 300;
    margin-top: 15px;
    max-width: 600px;
    color: black;

}
.middle-section .content button{
    background: white;
    outline: none;
    border: none;
    font-size: 1.7rem;
    padding:12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    margin-top: 30px;
    transition: 0.2s ease;
}
.middle-section .content button:hover{
    background: brown;
    color: white;
}
#menu-btn{
    color: black;
   cursor: pointer; 
   display: none;
}
#close-menu-btn{
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer; 
    display: none;
 }
@media screen and (max-width:900px){
    header.show-mobile-menu::before {
        content: " ";
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(5px);
    }
    #menu-btn,#close-menu-btn{
       display: block; 
    }
    .navbar .menu-links {
        position: fixed;
        left: -260px;
        top: 0;
        flex-direction: column;
        width: 260px;
        height: 100vh;
        background: wheat;
        padding: 70px 40px 0;
        transition: left 0.1s ease;

    } 
    header.show-mobile-menu .navbar .menu-links {
        left: 0;
    }
    .navbar a{
        color: black;

    }
    .middle-section .content{
        text-align: center;    
    }
    .middle-section .content :is(h1,p){
        max-width: 100%;

    }
    .middle-section .content h1{
        font-size: 2.3rem;
        line-height: 60px;
    }
    .middle-section .content button{
        padding: 9px 18px;

    }
}